.container {
  display: flex;
  align-items: center;
}

.container > button {
  width: 48px;
  height: 48px;
  border: 1px solid #86bedd;
  color: #86bedd;
  background-color: transparent;
  box-shadow: none;
  border-radius: 8px;
  font-size: 16px;
}

.container > button:disabled {
  background-color: #eeeeee;
  cursor: not-allowed;
  pointer-events: none;
}

.container > button:active {
  border: 2px solid #86bedd;
  color: #86bedd;
}

.container > button:hover {
  background-color: #eeeeee;
}

.container > input {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cacaca;
  text-align: center;
  font-size: 16px;
}

.container > *:not(:first-child) {
  margin-left: 8px;
}
