html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: #eeeeee;
  pointer-events: none;
}

button::selection {
  background-color: transparent;
}
button::-moz-selection {
  background-color: transparent;
}
